:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 64px;
  font-family: var(--font-open-sans);
  font-weight: 900;
}

p {
  font-size: 18px;
  font-family: var(--font-open-sans);
}
input:focus, textarea:focus {
  border: none;
  outline: none;
}
.onboarding {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  position: relative;
}



.dots span {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffffff44;
}

.dots span.active {
  background-color: #fff;
}

.on-content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.mw-600 {
  min-width: 600px;
}

.content {
  display: flex;
  gap: 100px;
  align-items: center;
  text-align: left;
  padding: 30px;
}

.content_inner {
  max-width: 450px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.dot {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
}

.splash_buttons {
  display: flex;
  gap: 18px;
}

.splash_buttons button {
  min-width: 157px;
  min-height: 57px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-open-sans);
  letter-spacing: .3px;
  border-radius: 40px;
  text-transform: capitalize;
  color: #FFF;
  border: none;
  outline: 2px solid transparent;
}

.splash_buttons button:first-child {
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
}

.splash_buttons button:last-child {
  background-color: #FFF;
  color: #81017F;
}

/* sidebar css */

.sidebar_container {
  padding: 20px 0;
  padding-right: 0;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 20px 0px 17px -20px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebar_container ul {
  padding: 0 0 0 50px;
  margin: 40px 0;
  max-height: 65vh;
  overflow: auto;
}

.sidebar_container ul li {
  list-style: none;

  position: relative;
  margin: 10px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Add transition effects */
}

.sidebar_container ul li.active img {
  filter: brightness(0) saturate(100%) invert(80%) sepia(78%) saturate(4119%) hue-rotate(337deg) brightness(96%) contrast(108%);
  transition: filter 0.3s ease;
  /* Add transition effect for filter change */
}

.sidebar_container ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 13px;
  padding-left: 0;
  gap: 15px;
  font-size: 14px;
  font-family: "Inter";
  transition: color 0.3s ease, font-size 0.3s ease;
  /* Add transition effects for color and font-size */
}

.sidebar_container ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_container ul li.active a {
  font-family: "InterBold";
  font-size: 16px;
  color: #253d8a;
  /* Change color for active link */
}

.sidebar_container ul li.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(253, 183, 26);
  background: linear-gradient(10deg,
      rgba(253, 183, 26, 1) 0%,
      rgba(253, 193, 52, 1) 31%,
      rgba(255, 216, 110, 1) 100%);
  height: 100%;
  width: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background 0.3s ease;
  /* Add transition effect for background color change */
}

.sidebar h4 {
  font-size: 24px;
  font-family: "ClashDisplay-Semibold";
  color: #7843AA;
}

.side_menu {
  margin-top: 50px;
}

.side_menu p {
  font-size: 15px;
  font-family: var(--font-epilogue);
  font-weight: 400;
  color: #7843AA;
}

.side_menu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.side_menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

.side_menu ul li a {
  font-size: 12px;
  font-family: var(--font-epilogue);
  font-weight: 400;
  color: #7843AA;
  line-height: 100%;
}

.side_menu ul li span {
  width: 16px;
  height: 2px;
  background-color: #81017F;
  display: inline-block;
}

.side_bottom {
  height: 4px;
  width: 85%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 315px;
}

.theme-btn2 {
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
  width: 391px;
  height: 57px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  letter-spacing: .3px;
  border-radius: 40px;
  text-transform: capitalize;
  color: #FFF;
  border: none;
  outline: 2px solid transparent;
  box-shadow: 0 5px 12px #c49a6c94;
}