:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 64px;
  font-family: var(--font-open-sans);
  font-weight: 900;
}

p {
  font-size: 18px;
  font-family: var(--font-open-sans);
}

input:focus,
textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.onboarding {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  position: relative;
}



.dots span {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffffff44;
}

.dots span.active {
  background-color: #fff;
}

.on-content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.mw-600 {
  width: 600px;
}

.content {
  display: flex;
  gap: 100px;
  align-items: center;
  text-align: left;
  padding: 30px;
}

.content_inner {
  max-width: 450px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.dot {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
}

.splash_buttons {
  display: flex;
  gap: 18px;
}

.splash_buttons button {
  min-width: 157px;
  min-height: 57px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-open-sans);
  letter-spacing: .3px;
  border-radius: 40px;
  text-transform: capitalize;
  color: #FFF;
  border: none;
  outline: 2px solid transparent;
}

.splash_buttons button:first-child {
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
}

.splash_buttons button:last-child {
  background-color: #FFF;
  color: #81017F;
}

/* sidebar css */

.sidebar_container {
  padding: 20px 0;
  padding-right: 0;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 20px 0px 17px -20px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebar_container ul {
  padding: 0 0 0 50px;
  margin: 40px 0;
  max-height: 65vh;
  overflow: auto;
}

.sidebar_container ul li {
  list-style: none;

  position: relative;
  margin: 10px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Add transition effects */
}

.sidebar_container ul li.active img {
  filter: brightness(0) saturate(100%) invert(80%) sepia(78%) saturate(4119%) hue-rotate(337deg) brightness(96%) contrast(108%);
  transition: filter 0.3s ease;
  /* Add transition effect for filter change */
}

.sidebar_container ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 13px;
  padding-left: 0;
  gap: 15px;
  font-size: 14px;
  font-family: "Inter";
  transition: color 0.3s ease, font-size 0.3s ease;
  /* Add transition effects for color and font-size */
}

.sidebar_container ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_container ul li.active a {
  font-family: "InterBold";
  font-size: 16px;
  color: #253d8a;
  /* Change color for active link */
}

.sidebar_container ul li.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(253, 183, 26);
  background: linear-gradient(10deg,
      rgba(253, 183, 26, 1) 0%,
      rgba(253, 193, 52, 1) 31%,
      rgba(255, 216, 110, 1) 100%);
  height: 100%;
  width: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background 0.3s ease;
  /* Add transition effect for background color change */
}

.sidebar h4 {
  font-size: 24px;
  font-family: "ClashDisplay-Semibold";
  color: #7843AA;
}

.side_menu {
  margin-top: 50px;
}

.side_menu p {
  font-size: 15px;
  font-family: var(--font-epilogue);
  font-weight: 400;
  color: #7843AA;
}

.side_menu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.side_menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

.side_menu ul li a {
  font-size: 12px;
  font-family: var(--font-epilogue);
  font-weight: 400;
  color: #7843AA;
  line-height: 100%;
}

.side_menu ul li span {
  width: 16px;
  height: 2px;
  background-color: #81017F;
  display: inline-block;
}

.side_h4 {
  position: relative;
}

.side_h4::after {
  content: "";
  height: 4px;
  width: 120%;
  background-color: #FFF;
  position: absolute;
  left: -50px;
  bottom: -25px;
}

.theme-btn2 {
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
  width: 391px;
  height: 57px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  letter-spacing: .3px;
  border-radius: 40px;
  text-transform: capitalize;
  color: #FFF;
  border: none;
  outline: 2px solid transparent;
  box-shadow: 0 5px 12px #c49a6c94;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.theme-btn3 {
  background: transparent;
  width: 391px;
  height: 57px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-open-sans);
  letter-spacing: .3px;
  border-radius: 40px;
  text-transform: capitalize;
  color: #000;
  border: 2px solid #A83F98;
  outline: 2px solid transparent;
  box-shadow: 0 5px 12px #c49a6c94;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-btn3 span {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

/* Modal.css */
.myModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: all .3s;
  /* overflow: auto; */
}

.myModal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 600px;
  width: 100%;
  border: 2px solid #A83F98;
  transform: all .3s;
}

.myModal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
  color: #FFF;
  font-weight: 300;
  font-family: var(--font-inter);
}

.myModal-content.emp_content {
  height: 90vh !important;
}

.myModal-close span {
  line-height: 12px;
}

/* billing detail modal */
.bd_content {
  border: none;
  padding: 0;
}

.bmd_top {
  padding: 40px;
  text-align: center;
  background-color: #F3BDDD;
  border-radius: 8px;
}

.bmd_top span {
  font-size: 50px;
}

.bmd_top h4 {
  color: #000;
  font-family: var(--font-inter);
  font-size: 42px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0;
}

.bmd_bottom {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 20px 30px 40px;

}

.bmd_bottom a {
  min-width: 150px;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid #51004F;
  color: #000;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

.bmd_bottom p {
  color: #2D3748;
  font-family: var(--font-inter);
  font-size: 16px;
  margin: 0;
}

/* billing detail modal */
.calendar-container {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.navigation-buttons button {
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-shadow: 0 0 10px 1px #08080830;
}

.navigation-buttons button:disabled {
  background: #e0e0e0ab;
  cursor: not-allowed;
}

.navigation-buttons button:first-child {
  left: 30px;
}

.navigation-buttons button:last-child {
  right: 30px;
}

.chat-container {
  width: 100%;
  padding: 20px;

}

.cc_inner {
  border: 1px solid #dadada;
  border-top: none;
}

.cc_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5B7CA;
  padding: 15px 50px;
}

.cc_head img {
  border-radius: 100%;
}

.cc_head h4 {
  font-size: 24px;
  font-family: var(--font-poppins);
  font-weight: 600;
  margin: 0;
}

.cc_head h5 {
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 400;
  margin: 0;
}

.cc_head button {
  font-size: 14px;
  color: #51004F;
  font-weight: 600;
  background-color: #FFF;
  border-radius: 30px;
  padding: 8px 40px;
  font-family: var(--font-inter);
  border: 1px solid transparent;
}

.payment1 button.accordion-button {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
}

.payment1 button.accordion-button::after {
  display: none;
}

.payment1 h3 {
  font-size: 24px;
}

.cc_text_msg {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 410px;
  overflow-y: auto
}

.cc_text {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}

.cc_text:nth-child(even) {
  flex-direction: row-reverse;
  padding-right: 0;
  padding-left: 40px;
  text-align: right;
}

.cc_text img {
  border-radius: 100%;
}

.cc_text p {
  font-size: 16px;
  font-family: var(--font-poppins);
  line-height: 28px;
  margin: 0;
}

.cc_text_area {
  background-color: #F0F0F0;
  padding-top: 10px;
}

.cc_text_area textarea {
  height: 130px;
  border: none;
  border-bottom: 1px solid #999999;
  width: 90%;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  font-size: 16px;
}

.upload_user_image {
  position: relative;
  width: fit-content;
}

.upload_user_image img {
  border-radius: 10px;
}

.upload_user_image input {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

.avail_serve_container {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}

.add-services {
  position: relative;
  display: inline-block;
}

.as_item input {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  opacity: 0;
}

.as_item input:checked+.shadow_active {
  box-shadow: 0 0 20px 2px #dd2ac1c4;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

img.aic_cover_img {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  object-fit: cover;
}

.auth_upload_bussiness_logo img {
  width: 144px;
  height: 138px;
  border-radius: 10px;
  object-fit: contain;
}

.auth_upload_bussiness_logo .pb-icon {
  width: 16px !important;
  height: 18px !important;
}

.add_employee {
  height: 100% !important;
  overflow: hidden !important;
  overflow-y: auto !important;

}

.add_service_btn5 {
  border: 1px solid #000;
  border-radius: 30px;
  width: 155px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  font-family: '__Open_Sans_9c011f';
}

.add_service_btn5 span {
  font-size: 20px;

}

button.am_submit .spinner-border {
  width: 20px !important;
  height: 20px !important;
  border-width: 2px;
  --bs-spinner-vertical-align: -5px;
}

/* callender css */
.cal_container {
  position: relative;
}

.cal_container h3 {
  font-family: var(--font-lato);
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #000;
  display: inline;
}

.time_slot label {
  font-size: 16px;
  font-family: var(--font-lato);
  font-size: 20px;
  font-weight: 600;
}

.time_slot input {
  width: 33px;
  height: 33px;
  border-radius: 10px !important;
  border: 2px solid #ccc;
}

.stylist {
  margin-top: 30px;
}

.stylist label {
  font-size: 14px;
  font-family: var(--font-lato);
  font-weight: 600;
}

.stylist input {
  width: 25px;
  height: 25px;
  border-radius: 5px !important;
  border: 2px solid #ccc;
}

.cal_container .form-check-input:focus {
  border-color: #ccc;
  outline: none;
  box-shadow: none;
}

.cal_container input:checked {
  background-color: #F5B7CA;
}

.cal_container .form-check {
  display: flex;
  align-items: center;
  gap: 15px;
}

.add_appointment {
  background-color: #7A2B8E;
  border-radius: 14px;
  font-size: 15px;
  font-family: var(--font-lato);
  font-weight: 600;
  padding: 10px 20px;
  color: #FFF;
  position: absolute;
  top: -100px;
  right: 0;
  display: inline-block;
  width: fit-content;
}

.myModal-content.add_appointment_modal {
  padding: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  /* overflow: auto;
  height: 90vh; */
}

.add_appointment_modal .apm_container {
  background-color: #FFF;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #A83F98;
  cursor: pointer;

}

.apm_head {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #7A2B8E;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.apm_head h3 {
  font-size: 20px;
  color: #FFF;
  font-family: var(--font-lato);
  font-weight: 600;
}

.amp_body {
  padding: 20px 35px;
  overflow: auto;
  height: 80vh;
}

.amp_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.amp_field label {
  font-size: 16px;
  color: #000;
  font-family: var(--font-open-sans);
  font-weight: 700;
}

.amp_field input,
.amp_field select {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #777777;
  padding: 0 15px;
  margin-top: 8px;
}

.amp_field textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #777777;
  padding: 15px;
  margin-top: 5px;
}

.amp_field input::placeholder,
.amp_field textarea::placeholder {
  font-size: 12px;
  color: #878787;
  font-family: var(--font-open-sans);
}

.af_time_slot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 0;
}

.af_time_slot .ats {
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #A83F98;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: var(--font-lato);
  font-weight: 700;
  color: #000;
  letter-spacing: .5px;
}

.af_time_slot .ats.active {
  border-color: #A83F98;
  background-color: #A83F98;
  color: #FFF;
}

.amp_field button {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
  height: 46px;
  width: 241px;
  background-color: #7A2B8E;
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  border: 2px solid transparent;
  margin: 0 auto;
}

.apm_head button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFF;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-poppins);
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px #ffffffc2;
}

.myModal-content.appointment_detail {
  max-width: 700px;
  height: 90vh;
  overflow: auto;
}

.sd_item.cp {
  border-radius: 16px;
  box-shadow: 0 0 10px 2px #ccc;
}

.sd_item_content.cp {
  padding: 10px;
}

.stylist_item img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.stylist_item h4 {
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-top: 10px;
}

.ed_item.cp .ed_item_border {
  width: 137.5px;
  height: 137.5px;
}

.notes_field textarea {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
}

.notes_field h4 {
  font-size: 18px;
  font-family: var(--font-lato);
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.add_note_btn {
  width: 120px;
  height: 30px;
  border-radius: 14px;
  background-color: #58BA4C;
  font-size: 15px;
  color: #FFF;
  font-family: var(--font-lato);
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nc_item h5 {
  font-family: var(--font-lato);
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  border-left: 2px solid #d8d8d8;
}

.nc_item p {
  font-family: var(--font-lato);
  font-size: 12px;
  font-weight: 400;
}

.user_card {
  padding: 30px 15px;
}

.user_card h3,
.billed_box h4 {
  font-size: 20px;
  font-family: var(--font-lato);
  font-weight: 700;
}

.user_card p {
  font-size: 14px;
  font-family: var(--font-lato);
  font-weight: 600;
  margin: 0;
}

.uc_fields h4 {
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 400;
  color: #66615E;
  margin: 0;
}

.billed_box {
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 10px;
}

.billed_box h4 {
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 600;
  color: #000;
  margin: 0;
}

.billed_box h5 {
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 700;
  color: #000;
  margin: 0;
}

.billed_box .pc {
  color: #66615E;
  font-weight: 400;
}

.elm_container ul {
  list-style-type: none;
  padding: 20px;
  overflow: auto;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.elm_container ul li {
  width: 47%;
  position: relative;
  cursor: pointer;
}

.elm_container ul li .elm_card_item {
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.elm_container ul li input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.elm_container ul li input:checked+label {
  box-shadow: 0 0 13px 2px #b51edbcf;
}

.elm_container ul li img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 2px #9c27b087;
}

li.add_stylist_btn {
  border: none !important;
  padding: 0 !important;
}

li.add_stylist_btn .add_note_btn {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #58BA4C;
}

li.add_stylist_btn .add_note_btn:hover {
  border: 1px solid #58BA4C;
}

.royality_btn {
  background-color: #8D57B2;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 15px;
  font-family: var(--font-lato);
  font-weight: 600;
  padding: 7px 15px;
  color: #FFF;
  min-width: 125px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
}

.royality_btn .spinner-border {
  width: 25px;
  height: 25px;
}

.royality_btn:nth-child(2) {
  background-color: #58BA4C;
}

.royality_btn:nth-child(3) {
  background-color: #b33838;
}

.royality_btn:hover {
  border: 1px solid #8D57B2;
  background-color: transparent;
}

.theme-btn7 {
  color: #FFF;
  background: rgb(245, 183, 202);
  background: linear-gradient(335deg, rgba(245, 183, 202, 1) 0%, rgba(168, 63, 152, 1) 70%, rgba(129, 1, 127, 1) 100%);
  font-size: 15px;
  font-family: var(--font-inter);
  padding: 9px 20px;
  line-height: 100%;
  border: none;
  border-radius: 9px;
  margin-top: 20px;
}

.gm_text input,
.gm_text select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #6d6d6d;
  margin-top: 10px;
  height: 50px;
}

.gm_text select {
  color: #6d6d6d;
}

.gm_text input:focus-visible,
.gm_text select:focus-visible {
  border: 1px solid #6d6d6d;
  outline: none;
}

.gm_text .royality_btn {
  background-color: #A83F98;
  margin-top: 15px;
}

.gm_text .royality_btn:hover {
  background-color: transparent;
}


@media only screen and (max-height: 800px) {
  .sidebar .logo img {
    width: 210px !important;
    height: 70px !important;
  }

  .side_menu2 ul {
    padding: 20px 0 0 !important;
  }

  .side_menu2 ul li {
    margin: 12px 0 !important;
  }

  /* .add_employee {
    height: 100% !important;
    overflow: hidden !important;
    overflow-y: auto !important;

  } */
}

@media only screen and (max-height: 700px) {
  /* .add_employee {
    height: 500px !important;
    overflow: hidden !important;
    overflow-y: auto !important;

  } */

  .sidebar.sidebar2 {
    padding: 50px 50px 0 !important;
  }
}

@media only screen and (max-height: 600px) {
  /* .add_employee {
    height: 450px !important;
    overflow: hidden !important;
    overflow-y: auto !important;

  } */
}

@media only screen and (max-width: 1299px) {
  .mpt_table table td {
    padding: 10px !important;
  }
}

.mpt_chart {
  height: 350px;
}

.mpt_chart img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}